@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


body {
  background-color: pink;
  margin: 0 auto;
}


/* nav bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10%;
    background-color: #24252a;
    position: sticky;
    top: 0;
    z-index: 10000;
    
  }
  
.logo {
    font-family: "Prata", serif;
    margin-right: auto;
    font-weight: 500;
    font-size: 2vh;
    color: #edf0ed;
    cursor: pointer;
    text-shadow: .5px .5px back;
}

.nav__list a{
    font-family: "Prata", serif;
    font-weight: 500;
    font-size: 1.4vh;
    color: #edf0ed;
    text-decoration: none;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list li {
    padding: 0em 1.25em;
}

.nav__list li a {
    transition: all 0.3 ease 0s;
}

.nav__list li a:hover {
    color: rgb(11, 218, 81);
}


/* home */

.intro {
  background: linear-gradient(
    rgba(0,0,0,0.5), rgba(0,0,0,0.7)
  ),
    url(https://cdn.theatlantic.com/thumbor/a3qItSOnTkvc3n79fAAxuBQZlzc=/0x203:3888x2390/1600x900/media/img/mt/2016/09/AP_090827085227/original.jpg);
  transform: scaleX(-1);
  background-size: cover;

  position: relative;
  display: block;
  height: 100vh;
  width: calc(100% + 1.5em);
  max-width: 100%;
}


.intro-container {
  transform: scaleX(-1);
  position: relative;
  text-align: left;
  padding: 1em 10%;
  padding-top: 25vh;
  font-family: "Prata", serif;
  margin-right: auto;
  font-weight: 400;
  font-size: 3vh;
  color: #edf0ed;
  cursor: pointer;
  
}



.intro-container strong {
  text-shadow: 1px 1px black;
}

.intro__button {
  font-size: .8em;
  margin-top: 1.2em;
  padding: .8em 1em;
  color: white;
   background-color: black;
  border: 2px solid #fff;
  border-radius: 4em;
}

.intro__button:hover {
  color: black;
   background-color: white;
  cursor: pointer;
  border: 2px solid black;
}


/* move to second page */
.intro__description {
    /* transform: scaleX(-1); */
    font-family: "Prata", serif;
    margin-right: auto;
    font-weight: 200;
    font-size: .7em;
    color: white;
}

.block-parent-element {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 0rem;
    text-align: left;
}
.block-child-element {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: top;
    width: 30%;
}



.block-child-element2 {
    width: 60%;
}

.vertical {
    border-left: 5px solid rgb(11, 218, 81);
    /* height: 200px; */
}


.box__section {

  width:100%;
  padding: 2em 2em;
  word-wrap: break-word;
  background-color: white;
  margin: 0;
  color: #24252a;
  border-radius: 25px;    
}

.hyperlink{
  font-size: .5em;
}